.profile{
    margin-bottom: 20px;
    margin-left: auto;
margin-right: auto;
width: 345px;

}

.avatar{
    padding: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;    
}

.description{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: #778899;
border: outset;

}

.name{
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

.location{
    padding-bottom: 10px;
}

.stats{
display: flex;
justify-content: center;
align-items: center;

font-size: 16px;
}

.stats li{
display: flex;
flex-direction: column;
align-items: center;
padding: 20px 33px;

background-color: #eee;
border: 1px solid #ccc;
border-radius: 2px;
}

.label{
    color: #778899;
}

.quantity{
color: #000;
font-weight: 700;
}