.statistics{
    margin-bottom: 20px;
}

.title{
    text-align: center;
    padding: 40px;

    font-size: 28px;
    text-transform: uppercase;
}

.stat-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;

    padding: 10px 20px;
   color: #2d2d2d;

}

.label{
color: #2d2d2d;

}

